@charset "UTF-8";

.yui3-aclist-content {
	border: 1px solid #000;
	background: #fff;
	color: #555555;
}

li.yui3-aclist-item-active {
	background: #99FFFF;
}

.yui-carousel {
	visibility: hidden;
	overflow: hidden;
	position: relative;
	text-align: left;
	zoom: 1;
}

.yui-carousel.yui-carousel-visible {
	visibility: visible;
}

.yui-carousel-content {
	overflow: hidden;
	position: relative;
}

.yui-carousel-element {
	margin: 5px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 32000px;
	z-index: 1;
}

.yui-carousel-vertical .yui-carousel-element {
	margin: 0 5px;
}

.yui-carousel-element li {
	border: 1px solid #ccc;
	float: left;
	list-style: none;
	margin: 1px;
	overflow: hidden;
	padding: 0;
	display: inline;
}

.yui-carousel .yui-carousel-item-selected {
	margin: 1px;
}

.yui-carousel-vertical {
	height: 32000px;
	margin: 0 5px;
	width: auto;
}

.yui-carousel-vertical .yui-carousel-element li {
	display: block;
	float: none;
}

.yui-log .carousel {
	background: #f2e886;
}

.yui-carousel-nav {
	zoom: 1;
}

.yui-carousel-nav:after {
	clear: both;
	content: "";
	display: block;
}

.yui-carousel-button-focus {
	outline: 1px dotted #000;
}

.yui-carousel-min-width .yui-carousel-content {
	margin: 0 auto;
}

.yui-carousel-nav {
	background: url(/skin/images/yui/sprite.png) repeat-x 0 0;
	padding: 3px;
	text-align: right;
}

.yui-carousel-button {
	background: url(/skin/images/yui/sprite.png) no-repeat 0 -600px;
	float: right;
	height: 19px;
	margin: 5px;
	overflow: hidden;
	width: 40px;
}

.yui-carousel-vertical .yui-carousel-button {
	background-position: 0 -800px;
}

.yui-carousel-button-disabled {
	background-position: 0 -2000px;
}

.yui-carousel-vertical .yui-carousel-button-disabled {
	background-position: 0 -2100px;
}

.yui-carousel-button input,.yui-carousel-button button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: block;
	height: 44px;
	margin: -2px 0 0 -2px;
	padding: 0 0 0 50px;
}

span.yui-carousel-first-button {
	background-position: 0 -550px;
	margin: 5px 50px 5px -90px;
}

.yui-carousel-vertical span.yui-carousel-first-button {
	background-position: 0 -750px;
}

span.yui-carousel-first-button-disabled {
	background-position: 0 -1950px;
}

.yui-carousel-vertical span.yui-carousel-first-button-disabled {
	background-position: 0 -2050px;
}

.yui-carousel-nav ul {
	float: right;
	height: 19px;
	margin: 1px 50px -220px 0;
	padding: 0;
}

.yui-carousel-min-width .yui-carousel-nav ul {
	margin-left: -170px;
}

.yui-carousel-nav form {
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: transparent;
}

.yui-carousel-nav select {
	position: relative;
	right: 50px;
	top: 4px;
}

.yui-carousel-vertical .yui-carousel-nav ul,.yui-carousel-vertical .yui-carousel-nav select	{
	float: none;
	margin: 0;
	zoom: 1;
}

.yui-carousel-nav ul li {
	background: url(skins/images/yui/sprite.png) no-repeat 0 -650px;
	cursor: pointer;
	float: left;
	height: 9px;
	list-style: none;
	margin: 10px 0 0 5px;
	overflow: hidden;
	padding: 0;
	width: 9px;
}

.yui-carousel-nav ul:after {
	clear: both;
	content: "";
	display: block;
}

.yui-carousel-nav ul li a {
	left: -10000px;
	position: absolute;
}

.yui-carousel-nav ul li.yui-carousel-nav-page-focus {
	outline: 1px dotted #000;
}

.yui-carousel-nav ul li.yui-carousel-nav-page-selected {
	background-position: 0 -700px;
}

.yui-carousel-item-loading {
	background: url(/skin/images/yui/ajax-loader.gif) no-repeat 50% 50%;
	position: relative;
	text-indent: -150px;
}