@use "sass:color";

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000 !default;

$hot: #C30;
$bg: $gray-200;
$radius: 4px;

$fa-font-path: "../vendor/fortawesome/font-awesome/webfonts";
$font-family-sans-serif : "Open Sans";
$headings-font-family: "Oswald";
$btn-font-family: "Oswald";
$btn-font-size: 1.1rem;

@charset "utf-8";
@import "customisable";
@import "../vendor/twbs/bootstrap/scss/bootstrap";
@import "../vendor/fortawesome/font-awesome/scss/fontawesome.scss";
@import "../vendor/fortawesome/font-awesome/scss/solid.scss";
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import	url("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css");

$chart-bar-fill: color.change($secondary, $saturation: 15%, $lightness: 60%);

BODY {
	background-color: $bg;
	background-image: url('./images/bg.svg');
}

.container-fluid, .container {
	background-color: $white;
	padding: 1em 24px 2rem 24px;
}

SECTION {
	margin-top:($hr-margin-y * 1);
	margin-bottom:($hr-margin-y * 1.5);
}

HEADER {
	padding:0;
	margin:0;
	
	H1  {
		margin:0;
		
		SMALL {
			font-size:80%;
			font-weight:normal;
			color: $gray-500;
		}
	}
}

H1 {
	font-size:2rem;
}

H2 {
	color:$primary;
	font-size:1.4rem;
}

I {
	display :inline-block;
	margin:.2em;
}

EM {
	font-style: normal;
	font-weight: bold;
}

LEGEND {
	color: $primary;
	font-family: $headings-font-family;
	font-weight: 300;
	font-size: 1.4em;
}

BUTTON, INPUT[type="submit"], INPUT[type="button"], INPUT[type="reset"], .btn {
	text-transform: capitalize;
}

.navbar-brand, .brand {
	color: $primary !important;
	font-family: "Sigmar one";
	
	SMALL {
		color:$gray-200;
		font-family: $font-family-sans-serif;
	}
}

A:hover, A.explicit {
	text-decoration: underline;
}

.fa, .fas {
	color: $secondary;
	font-size:inherit;
}

.bl {
	padding: 0;
	margin: 0;
	
	LI {
		display: block;
		padding: 10px 0;
		margin: 0.5em 1%;
		width: 100%;
		max-width: 615px;
		
		.virtual {
			height: auto;
			width: auto;
		}
		
		DIV.topic {
			margin-top: .5em;
			margin-bottom: .5em;
		}
		
		DIV.text {
			padding: 9px 0 6px 0;
		}
	}
	
	.masonryGutterSizer {
		width: 20px;
		height: 20px;
	}
}

DIV.snapshot {
	height: 230px;
	margin: 0 auto;
	border: none;
	overflow:hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	
	A {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		
		IMG {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
		}
		
		IMG.missingSnapshot {
			height: 100%;
			width:auto;
			margin: auto;
		}
	}
}

DIV.theater {
	background-color: $bg;
	width: 100%;
	height: 152px;
	margin: 0;
	border: 1px solid $gray-200;
	overflow: hidden;
	
	DIV.snapshot {
		max-width: 86%;
		height: 100%;
	}
}

LI P {
	margin: .5em 0;
	padding: 0;
}

.tl {
	padding: 5px 10px;
	margin: 0;
	
	* {
		display: inline-block;
		margin: 0.2em 0.3em;	
	}
	
	OL, UL {
		padding: 0;
		margin:0;
	}
	
	LI {
		padding: 0;
		margin:0;
	
		A {
			display:inline-block;
			margin: 0.2em 0.3em;
			padding: 0.2em 0.6em;
			border-radius: 4px;
			font-family: $btn-font-family;
			font-weight: 100;	
		}
		
		SMALL {
			color: color.scale($secondary, $lightness:-30%);
		}		
	}
	
	LI.emphased {
		font-size: 1.6em;
	}
			
	LI.unlockedtopic {
		A {
			color:  $white !important;
			background-color: $secondary !important;			
		}
	}
	
	LI.lockedtopic {
		A {
			color:  $white !important;
			background-color: color.scale($secondary, $lightness:30%) !important;			
		}
	}	
	
	DIV.checkbox {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

A.unlockedTopic {
	color:  $white !important;
	font-weight: normal !important;
	background-color: $secondary !important;
}

A.lockedTopic {
	color:  $white !important;
	font-weight: normal !important;
	background-color: color.scale($secondary, $lightness:30%) !important;
}

A.lockedTopic, A.unlockedTopic {
	display:inline-block;
	border-radius: 4px;
	padding: .2em .6em;
	font-family: $btn-font-family;
	font-weight: 100;	
}

.tl LI.virtual A, .bl LI.virtual A, .navbar-default .navbar-nav>LI>A.virtualBookmark {
	color: $white !important;
	font-weight: normal !important;
	background-color: $gray-500 !important;
	width:auto;
	border:none;
}

.bl LI.virtual A, .navbar-default .navbar-nav>LI>A.virtualBookmark {
	padding: .1em .4em;
}

.navbar-default .navbar-nav>LI>A.virtualBookmark {
	display: inline-block;
	margin: 10px 15px;
}

.navbar-default .navbar-nav>LI>A.virtualBookmark:HOVER {
	text-decoration: underline;
}

.inactive A.lockedTopic, .inactive A.unlockedTopic {
	background-color: $gray-200 !important;
	color: $white !important;
}

.bookmarkLink, .hotBookmarkLink {
	font-family: $headings-font-family;
	font-weight: 300;
	font-size: 1.4em;
	background-color: inherit;
}

.bookmarkLink {
	color: color.scale($primary, $lightness: -40%);
}

.hotBookmarkLink {
	color: $hot;
}

.topicPath A.unlockedTopic, .topicPath A.lockedTopic {
	background-color: inherit !important;
	color: inherit !important;
	display: inline;
	padding: 0;
	margin: 0;
}

.hot {
	color: $white;
	background-color: $hot;
}

.inactive * {
	color: $gray-600;
}

.jsContingent {
	visibility: hidden;
}

.stabylo {
	background-color: $yellow;
	color: inherit
}

NAV.bar {
	margin: 0;
	padding: 10px;
	
	OL {
		padding: 0;
		
		LI {
			display: inline-block;
			margin: 6px;
			font-family: $btn-font-family;
			font-weight: 100;
		}
		LI.inactive {
			color: $gray-500;
		}		
	}
}
.nav-item {
	font-family: $btn-font-family;
}


.buttonBar {
	margin: 1.4em auto 1em auto;
	width:auto;
}

.visu-wrapper {
	background-color: $gray-400;
	max-width: fit-content;
	overflow: hidden;

	IMG {
		mix-blend-mode: screen;
	}
}

#login {
	.container {
		max-width: 465px;
		
		.visu-wrapper {
			height: 300px;
			max-width: 465px;
			overflow: hidden;
		}		
	}
		
	FORM {
		margin-top: 1em;
	}
}

#hotTopicsNav>OL.tl {
	padding: .6em 0;
}

#home {
	#subtopics OL.tl {
		padding: 0;
		margin-top:1em;
	}
	
	H1 {
		color: $primary;
		font-weight: 100;
		font-size: 1.2em;
	}
}

#topicEdit SECTION {
	float: none;
	width: 96%;
	margin: 1% 2%;
}

#sortBar {
	text-align: left;
	background-color: $gray-100;
	margin: 0 0 6px 0;
	padding: 6px;

	SPAN, UL LI {
		line-height: 2em;
	}
	
	UL LI.emphased {
		font-weight: bolder;
	}	
}

/* Jquery UI */
.ui-widget {
	font-family: inherit;
	font-size: 1em;
}

.ui-widget-content {
	background:  $white;
}

.ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-focus em {
	background-color: $primary;
	background-image: none;
	color:  $white;
	border: none;
}

.ui-widget-content .ui-state-focus small {
	color:  $white;
}

/* c3 */
.c3 svg {
	font-size: 0.8em;
	color: $gray-600;
}

.c3-bar, .c3-shape {
	stroke: none !important;
}

.c3-area {
	opacity: 1
}

.c3-bars-creation-count .c3-bar, .c3-legend-item-creation-count .c3-legend-item-tile {
	fill: $chart-bar-fill !important;
}

.c3-texts-creation-count TEXT {
	fill: $secondary !important;
	font-weight: bold
}

.c3-bars-creation-projection .c3-bar {
	fill: $chart-bar-fill !important;
	fill-opacity: 0.2
}

.c3-texts-creation-projection TEXT {
	display: none;
}

.c3-bars-hit-count .c3-bar, .c3-legend-item-hit-count .c3-legend-item-tile {
	fill: $chart-bar-fill !important;
	stroke: $chart-bar-fill !important;
}

.c3-texts-hit-count TEXT {
	fill: $secondary !important;
	font-weight: bold
}

.c3 line, .c3 path {
	fill: none;
	stroke: $primary;
}

.c3-ygrid-line LINE {
	stroke: $secondary !important;
}

.c3-ygrid-line TEXT {
	fill: $secondary !important;
}

.tick TEXT {
	fill: $secondary;
}

@media ( min-width : 992px) {
	
	.bl LI {
		display: inline-block;
		height: 430px;
		width: 31%;
		padding: 0;
		overflow: hidden;
		border-color: $gray-400;
		border-style: solid;
		border-width: 1px;
		border-radius: $radius;
		
		DIV.topic {
			margin-top: .5em;
			margin-bottom: .5em;
		}
		
		DIV.text {
			padding: 6px 9px;
		}
	}
	
	.bl LI.virtual {
		border:none;
	}
	
	.bl LI.inactive {
		border-color: $gray-400;
	}	
	
	#home {
		HEADER {
			margin: .5em 0;
			border: none;
			
			H1 {
				font-size: 1em;
				font-weight: normal;
			}
		}

		#subtopics {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	#topic {
		.bl {
			LI.n1 {
				width: 31.33%;
				height: 470px;
							
				DIV.theater{
					height: 182px;
				}
			}
			
			LI.n2 {
				width: 23%;
				height: 460px;
				
				DIV.theater {
					height: 136px;
				}
	
				DIV.text {
					font-size: .9em;
					padding: 6px 9px;
				}						
			}
			
			LI.n3 {
				width: 18%;
				height: 200px;
				border-width: 1px 0 0 0;
				
				DIV.text {
					font-size: .9em;
					padding: 6px 9px;
				}				
			}
			
			LI.n3.inactive {
				background-color: $gray-100;
				border:none;
			}
		}
	}
	
	#topicEdit SECTION {
		float: left;
		width: 46%;
		margin: .4em 2%;
	}
	
	#mosthitbookmarks {
		DIV.theater {
			height: 160px;
		}
	}
	
	#lastHitBookmarks {
		DIV.theater {
			height: 160px;
		}
	}
	
	#publisher {
		DIV.theater {
			height: 160px;
		}
	}
		
	#sortBar {
		text-align: right;
		background: none;
		margin: 5px 0;
		padding: 9px;
		font-size: .9em;
		
		UL {
			display: inline-block;
			margin: 0;
			padding: 0;
			
			LI {
				display: inline-block;
				margin: 0 6px
			}
		}
	}
	
	.topicPath {
		OL {
			display: inline-block;
			margin: 0;
			padding: 0;
			
			LI {
				display: inline-block;
				padding: 0;
			}			
		}
	}
	
	DIV.unlockedBookmark, DIV.lockedBookmark {
		float: left;
		display: block;
		width: 200px;
		min-height: 150px;
		border: 2px solid $gray-500;
		padding: 9px;
		background-color: $white;
		color: $black;
	}
	
	.kpi {
		color:  $white;
		background-color: $gray-500;
		padding: .2em .4em;
	}
	
	#about #chart2_container {
		height: 480px;
	}
	
	LABEL.hidden {
		display: inline-block;
		overflow: hidden;
		text-indent: -200%;
		width: 1px;
	}
	.radioSubSet {
		margin: .5em 1.5em;
	}
	.clearer {
		clear: both;
	}
	.chart_container {
		min-height: 240px;
	}
	.chart_legend {
		text-align: center;
	}	
}

@media ( min-width : 1200px) {
	
	#login .container {
		margin-top:5%;
	}
		
	.bl LI {
		width: 23%;
		height:auto;
	}
	
	DIV.theater {
		height: 180px;
	}	
	
	#home .bl LI {
		width: 31.33%;
		height: 460px;
	}
	
	#lastaddedbookmarks .bl LI {
		width: 31.33%;
		height: 460px;
	}
	
	#search .bl LI {
		height: auto;
		width: 48%;
	}
	
	#topic {
		.bl {
			LI.n1 {
				height: 470px;
				width: 31.33%;
			}
			LI.n2 {
				height: 460px;
				width: 23%;
			}
			LI.n3 {
				height: 230px;
				width: 23%;
			}		
		}
	}

	#year .bl LI {
		height: 450px;
		width: 31.33%;
		
		DIV.theater {
			height: 180px;
		}
	}
}

@media ( min-width : 1600px) {

	.container-fluid, .container {
		max-width: 1520px;
		padding: 1em 24px 2rem 24px;
	}

	#indexDoc .card {
		width: 290px;
	}
	
	#bookmark {
		DIV.theater {
			height: 230px;
			
			DIV.snapshot {
				width: 384px;
				height: 230px;
										
				IMG {
					width: 384px;
					height: 230px;
				}
			}
		}
	}
	
	#topic {
		.bl {
			LI.n1 {
				DIV.theater {
					height: 230px;
					
					DIV.snapshot {
						width: 384px;
						height: 230px;
												
						IMG {
							width: 384px;
							height: 230px;
						}
					}
				}
			}
			LI.n2 {
				height: 380px;
				
				DIV.theater {
					height: 180px;
				}			
			}
		}
	}
}