/favicon-16x16.png
/favicon-32x32.png
/favicon-48x48.png
/favicon-64x64.png
/icon-144x144.png
/icon-192x192.png
/icon-36x36.png
/icon-48x48.png
/icon-512x512.png
/icon-72x72.png
/icon-96x96.png
/icon-basic.svg
/icon-regular.svg
